.cartContainer {
  position: relative;
}

.cartContainer::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background-color: transparent;
  aspect-ratio: 1/1;
  width: 5rem;
}

.cartContainer:hover .cartDropdown {
  display: grid;
}

.cart span {
  position: absolute;
  padding: 0.1em 0.5em;
  border-radius: 10px;
  background-color: var(--primary-orange);
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: -7px;
  right: -14px;
}

.cart img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 2.5rem;
}

.cartDropdown {
  z-index: 2;
  border-radius: 6px;
  position: absolute;
  width: 36.6rem;
  height: 25rem;
  top: 3.8rem;
  right: -7.8rem;
  padding: 1.5em;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: none;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: 'header' 'cart-list';
}

.cartDropdown::-webkit-scrollbar {
  display: none;
}

.cartDropdown::after {
  left: 0;
  right: 0;
  top: 4rem;
  position: absolute;
  content: '';
  border: 1px solid var(--light-grayish-blue);
}

.cartList p {
  text-align: center;
  padding: 5.2em 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.itemContainer {
  padding: 1em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.itemList {
  display: flex;
  gap: 1em;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
}

.itemList > * {
  display: grid;
  grid-template-columns: 5rem 1fr 3rem;
  gap: 1em;
}

.itemImg img {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  border-radius: 3px;
}

.itemContents {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.itemTitle {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
}

.price span {
  font-weight: 700;
  color: var(--black);
}

.checkout {
  border-radius: 6px;
  background-color: var(--primary-orange);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  cursor: pointer;
}
